body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}
scell-tab-bar {
    background: #7b4408;
    color: #fff;
}

scell-view {
    padding-bottom: 50px;
}

scell-view > div {
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

scell-view > scell-navigation-bar {
    height: 50px
}

#comments-view {
    background: #fff;
}

#comments-container {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 50px;
} 

#comments-container hn-item {
    background: #eee;
}

scell-navigation-bar {
    color: #fff;
    background-color: rgb(106, 53, 12);
}


@media (min-width:420px) {
    scell-tab-bar {
        top: 0;
        bottom: default;
    }
}

@media (min-width:768px) {
    body > scell-view > div {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 55px;
    }

    body > scell-view {
        width: 100%;
    }
}